section.wrapper{
    text-align: center;
}

body {
    background-image: url('./Assets/sitebackground2.jpg');
    background-size:100% 100vh;
}

canvas {
    display: inline;
    outline: 2px solid rgb(32, 166, 224);
    max-height: 70vh;
    max-width: 100vw;
}

div.clickBox{
    font-family: sans-serif;
    text-align: center;

    position: relative;
    width: 100%;
    height: 120%;
    margin-top: 7%;
}

@media screen and (orientation: portrait) {
    div.clickBox {
        margin-top: 25%;
    }
}

@media screen and (orientation: landscape) {
    div.clickBox {
        margin-top: 7%;
    }
}